<div class="text-center">
  <h1>BookMarkY</h1>
  <ul>
    {{#each quotes}}
        <p>Quotes: {{words}}</p>
    {{/each}}
  </ul>
    <textarea id="formInput" type="text" name="task" placeholder="Add a quote to add to the random quotes..."></textarea>

    <button id="quoteSubmit" type="submit">Submit</button>
  </div>

<button class="new-user">New User</button>
<button class="delete-user">Delete User</button>

<div>
  {{#each user/0/urls}}
      <section id="bg-pic-{{uId}}" class="url-house-{{uId}} ajax-iterator">
          <div class="protecter-bg">
            
            <div class="url-grabber-{{uId}} url-{{uId}} url-spell">
                {{url}}
            </div>
            <div class="url-grabber-{{uId}} comment-{{uId}}">
                {{comment}}
            </div>
            <div class="url-grabber-{{uId}} path-{{uId}}">
                {{filePath}}
            </div>
            <button class="peek-a-boo" data-site={{url}}>{{url}}</button>
            <button class="change-me" data-id={{uId}} data-update="false">update {{uId}}</button>
            <button class="delete-me" data-id={{uId}}>delete {{uId}}</button><hr>

          </div>
      </section>
  {{/each}}
  <input id="id-me-up" placeholder="id here">
  <input id="url-me-up" placeholder="url here">
  <input id="comment-me-up" placeholder="comment here">
  <input id="path-me-up" placeholder="path here">
  <button id="submit-me">submit</button>
</div>
<div class="dump"></div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
