<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>This is our Home Page!</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="quote-text">Quote Text</label>
            <input type="text" id="quote-text" class="form-control" aria-describedby="quote-text" placeholder="Enter Quote Text">
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Quotes:</h3>
        <ul id="quote-list" class="list-group">
          {{#each quotes}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="quote/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>

<button class="new-user">New User</button>
<button class="delete-user">Delete User</button>

<div>
  {{#each user/0/urls}}
      <section id="bg-pic-{{uId}}" class="url-house-{{uId}} ajax-iterator">
          <div class="protecter-bg">
            
            <div class="url-grabber-{{uId}} url-{{uId}} url-spell">
                {{url}}
            </div>
            <div class="url-grabber-{{uId}} comment-{{uId}}">
                {{comment}}
            </div>
            <div class="url-grabber-{{uId}} path-{{uId}}">
                {{filePath}}
            </div>
            <button class="peek-a-boo" data-site={{url}}>{{url}}</button>
            <button class="change-me" data-id={{uId}} data-update="false">update {{uId}}</button>
            <button class="delete-me" data-id={{uId}}>delete {{uId}}</button><hr>

          </div>
      </section>
  {{/each}}
  <input id="url-me-up" placeholder="url here">
  <input id="comment-me-up" placeholder="comment here">
  <input id="path-me-up" placeholder="path here">
  <button id="submit-me">submit</button>
</div>
<div class="dump"></div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
