<div id="home">

  {{!-- Logout option --}}
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header center">
        <a class="navbar-brand" href="/logout">
          Logout
        </a>
      </div>
    </div>
  </nav>

  <div class="text-center">
    <h1 id="title">
      BookMarkY!
    </h1>
  </div>

  <br>
  <div class="center">
    <input id="url-me-up" placeholder="url here">
    <input id="comment-me-up" placeholder="comment here">
    <input id="path-me-up" placeholder="path here">
    <button id="submit-me">submit</button>
  </div>

  <div class="container">
    <div class="row">
      {{#each user/0/urls}}
      <div class="col-4">
        <div class="card-body">
          <section id="bg-pic-{{uId}}" class="url-house-{{uId}} ajax-iterator">
            <div class="protecter-bg">
              <div class="url-grabber-{{uId}} url-{{uId}} url-spell">
                {{url}}
              </div>
              <div class="url-grabber-{{uId}} comment-{{uId}} com">
                {{comment}}
              </div>
              <div class="url-grabber-{{uId}} path-{{uId}} pat">
                {{filePath}}
              </div>
              <br>
              <br>
              <br>
              <br>
              <br>
              <button class="peek-a-boo" data-site={{url}}>{{url}}</button>
              <button class="change-me" data-id={{uId}} data-update="false">update {{uId}}</button>
              <button class="delete-me" data-id={{uId}}>delete {{uId}}</button>
              <hr>
            </div>
          </section>
        </div>
      </div>
      {{/each}}
    </div>
  </div>

  <div class="container">
    <div id="top-right">
      <div class="col-8 offset-2">
        <h3 id="title" class="center">- Git Inspired -</h3>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="quote-text">Inspire Yourself!</label>
            <input type="text" id="quote-text" class="form-control" aria-describedby="quote-text" placeholder="Save Quotes Here For Later">
          </div>
          <button id="submit" class="btn btn-primary align-middle">Submit</button>
        </form>

        <ul id="quote-list" class="list-group">
          {{#each quotes}}
          <li data-id="{{this.id}}" class="list-group-item">
            <p href="quote/{{this.id}}">{{this.text}}</p>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>